@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
    background-color: #d1d5db; /* Warna abu-abu */
}
.swiper-pagination-bullet-active {
    background-color: #3b82f6; /* Warna biru */
}

.swiper-slide {
    height: auto !important; /* Memaksa slide untuk menyesuaikan tinggi konten */
}

.swiper-wrapper {
    align-items: stretch; /* Memastikan item di dalam flex container meregang */
}
